$body-color: slateblue;

body {
  color: $body-color;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#player {
  color: red;
  .player {
    position: absolute;
    bottom: 0;

    // path {
    //   fill: red;
    // }
  }
}

@keyframes hideshow {
  0% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes inversehideshow {
  0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
} 

.invader {
  g.step1{
    animation: hideshow 1s none infinite;
  }
  g.step2{
    animation: inversehideshow 1s none infinite;
  }
}

#playershot {
  text-align: center;
  svg {
    display: block;
    margin: 0 auto;
  }
}