$body-color: slateblue;

body {
  color: $body-color;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


  #player {
    position: absolute;
    bottom: 0;
    g.explosion {
      display: none;
    }
  }
  
  #player.die {
    g.ship {
      display: none;
    }
    g.explosion {
      display: block;
    }
  }

.panel {
  color: white;
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid white;
  margin: 5px;
}

.gameover {
  color: white;
  z-index: 2000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(000,000,000, 0.7);
  display: none;
}

.tryagain {
  padding: 10px 20px;
  background-color: black;
  color: orange;
  border-radius: 5px;
  border: 1px solid teal;
  margin-top: 40px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.gamewin {
  display: none;
}

@keyframes hideshow {
  0% { opacity: 1; }
  50.999% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes inversehideshow {
  0% { opacity: 0; }
  50.999% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
} 

.invader {
  g.step1 {
    animation: hideshow 1s none infinite;
  }
  g.step2 {
    animation: inversehideshow 1s none infinite;
  }
  g.explosion {
    display: none;
  }
}

.invader.die {
  g.step1 {
    display:none;
  }
  g.step2 {
    display:none;
  }
  g.explosion {
    display: block;
  }
}



#playershot {
  text-align: center;
  svg {
    display: block;
    margin: 0 auto;
    //width: 18px;
    position: relative;

  }
}